*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    
}

$mainBlack : black;
$mainGreen:green ;
$mainWhite : #ffff;
$mainGrey : #ececec;

body { 
    font-family:sans-serif ;
    background: $mainGrey;
    color : $mainWhite;
}